/* ________ ICONS & FONTS ________ */
@font-face {
    font-family: 'compile';
    src:  url('fonts/compile.eot?b4u51u');
    src:  url('fonts/compile.eot?b4u51u#iefix') format('embedded-opentype'),
    url('fonts/compile.ttf?b4u51u') format('truetype'),
    url('fonts/compile.woff?b4u51u') format('woff'),
    url('fonts/compile.svg?b4u51u#compile') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'marvin_visions';
    src: url('fonts/marvinvisions-bold-webfont.woff2') format('woff2'),
         url('fonts/marvinvisions-bold-webfont.woff') format('woff'),url(),
         url('fonts/marvinvisions-bold-webfont.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family:'century_gothic_regular';
    src: url('fonts/centygothic-webfont.woff2') format('woff2'),
         url('fonts/centygothic-webfont.woff') format('woff'),
         url('fonts/webfont.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'century_gothic_bold';
    src: url('fonts/centygothic-bold-webfont.woff2') format('woff2'),
         url('fonts/centygothic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'century_gothic_bold_italic';
    src: url('fonts/centygothic-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/centygothic-bolditalic-webfont.woff') format('woff'),
         url('fonts/webfont.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'compile' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-UI_Audio:before {
  content: "\e900";
}
.icon-UI_Compile:before {
  content: "\e901";
}
.icon-UI_Image:before {
  content: "\e902";
}
.icon-UI_Text:before {
  content: "\e903";
}
.icon-UI_Top:before {
  content: "\e904";
}
.icon-UI_Video:before {
  content: "\e905";
}
.icon-UI_Twitter:before {
  content: "\e906";
}
.icon-UI_Facebook:before {
  content: "\e907";
}


/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 1.5rem; }
  h6 { font-size: 1.3rem; }
}

p {
  margin-top: 0; }





/* COMPILE STYLING
––––––––––––––––––––––––––––––––––––––––––––––––––
__________________________________________________
_______________________________________________ */




/* ________ ANIMATIONS ________ */
/* ________ ANIMATIONS ________ */
.slideInLeft {
  animation-name: slideInLeft;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}


/* ________ GLOBAL CLASSES ________ */
body{
    margin: 0;
    overflow-x: hidden;
}
h2{
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: inherit;
}
.compile-loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: #ffffff url('images/00_compile-loading.gif') center center no-repeat 300px 300px;
}
.credits{
    border-top: 2px solid;
    padding: 1em 0;
    font-size: .8em;
    margin-top: 5em;
    position: relative;
}
.credits a, .credits a:visited{
    text-decoration: none;
    font-weight: bold;
}
.source-credit{
    position: absolute;
    top: .8em;
    right: 0;
}

/* ________ UTILITY CLASSES ________ */
.white-text{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
}
.hide{
    display: none;
    transition: all .2s ease-in-out;
}
.full-bleed{
    width: 100vw;
    min-height: 100vh;
}
.full-height{
    min-height: 100vh;
}
.relative-container{
    position: relative;
}
.space-tp{
    margin-top: 4%;
}
.flex{
    display: flex;
}

/* ________ HOMEPAGE ________ */
#homepage{
    background: #000000;
}
.homepage-bg{
    min-height: 100vh;
    min-width: 100vw;
    background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/00_old-cables.jpg);
    background-size:cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
}
#homepage-2019 .homepage-bg{
    min-height: 100vh;
    min-width: 100vw;
    background:url(images/004_broken-phone.jpg);
    background-size:cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
}
#lost-issue .homepage-bg{
    min-height: 100vh;
    min-width: 100vw;
    background:#ffffff;
    background-size:cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
}
.homepage-splash-wrap{
    width: 80%;
    height: 100%;
    resize: both;
}
.homepage-splash-wrap img{
    display: block;
    margin: 0 auto;
    width: 45%;
}
.homepage-blurb{
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    padding: 1em 0 3.5em 0;
    font-weight: bold;
}
.homepage-blurb h6{
    display: inline;
    font-family: "fatfrank", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 1em;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#homepage-2019 .homepage-blurb h6{
    color: #333333;
}
.homepage-blurb span{
    display: inline;
    font-family: "fatfrank", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #CBFF00;
    padding: 0 7px;
    font-size: .85em;
}
#homepage-2019 .homepage-blurb span{
    color: #F5E3A3;
}
.homepage-cta{
    text-align: center;
    margin: auto;
    display: block;
}
#homepage-2019 .homepage-cta{
    margin-top: 3em;
}
.homepage-cta .button{
    font-family: "t26-carbon", monospace;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    padding: 1.25em 2em;
    background-color: #1044FF;
    border-radius: 3px;
    letter-spacing: 2px;
    -webkit-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.3);
}
#homepage-2019 .homepage-cta .button{
    background-color: #2CC9F7;
    color: #333333;
}
a.button:visited{
    color: #ffffff;
}
#homepage-2019 a.button:visited{
    color: #333333;
}
.home-hero{
    background: #CBFF00;
    overflow: hidden !important;
    min-height: 600px;
    width: 100vw;
    position: relative;
}
#homepage-2019 .home-hero{
    background: #F4E095;
}
.drop-container{
    overflow:hidden;
    height: 540px;
    min-width: 100%;
}
.issue-lockup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.issue-lockup img{
    text-align: center;
    display: block;
    margin: auto;
    padding-bottom: 2em;
}
.issue-lockup .button{
    padding: 1em 3em;
}
.issue-teaser{
    width: 100vw;
    padding-top: 4em;
    background: #CBFF00;
}
#homepage-2019 .issue-teaser{
    background: #F4E095;
}
.issue-teaser .row{
    padding-bottom: 2em;
}
#homepage .issue-teaser .row{
    border-bottom: 1px solid #000000;
}
.issue-teaser img{
    text-align: left;
}
.issue-teaser h4{
    font-family: "fatfrank", Roboto, Helvetica, Arial, sans-serif;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    padding-left: 20%;
    letter-spacing: 1px;
    color: #000000;
    vertical-align: bottom;
}
.issue-teaser h4, .issue-teaser img{
    align-self: flex-start;
}
.drop-container{
    position: relative;
    overflow: hidden;
}
.time-drop {
	position: absolute;
	bottom:200px;
	-webkit-animation: fall 5s linear infinite;
    -moz-animation: fall 5s linear infinite;
    font-family: "t26-carbon", monospace;
    font-weight: bold;
    text-align: center;
    color: #ACD900;
    z-index: 1;
}
@-webkit-keyframes fall {
	to {margin-top:600px;}
}
@-moz-keyframes fall {
	to {margin-top:600px;}
}
.time-travel{
    padding: 1em 0;
    font-family: "t26-carbon", monospace;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #ACD900;
    background-color: #CBFF00;
    margin-bottom: 1em;
}
.issue-feature{
    min-height: 100vh;
    min-width: 100vw;
    background:#F4E095 url(images/004/004_maze.svg);
    background-size:cover;
    background-position: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
}
.issue-feature img{
    width: 40%;
}
.home-about{
    min-width: 100vw;
    min-height: 100vh;
    background-color: #000000;
    padding: 6em 0;
}
.home-about h1{
    font-family: "fatfrank", Roboto, Helvetica, Arial, sans-serif;
    color: #CBFF00;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 1px;
}
.home-about p{
    font-family: "t26-carbon", monospace;
    color: #ffffff;
    font-size: 1.25em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
}
.home-about p a{
    color: #CBFF00;
    font-weight: bold;
    text-decoration: none;
}
.homepage-foot{
    padding: 1.75em 2em;
    background-color: #ffffff;
    text-align: center;
    vertical-align: baseline;
}
.homepage-foot h5{
    font-family: "fatfrank", Roboto, Helvetica, Arial, sans-serif;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1px;
    text-align: left;
}
.homepage-foot h6{
    font-family: "t26-carbon", monospace;
    color: #000000;
    font-size: 1em;
    margin-bottom: 0;
    text-align: left;
}
.foot-icons a span{
    display: inline;
    color: #1044FF;
    font-size: 2em;
    text-align: right;
    vertical-align: middle;
    margin-left: 5px;
}
.foot-icons a:last-child span{
    background: #1044FF;
    color: #fff;
    border-radius: 2px;
}
.foot-icons{
    vertical-align: middle;
    text-align: right;
    margin-top: 7px;
}
.homepage-foot h6 a{
    text-decoration: none;
    color: #1044FF;
    opacity: 1;
    font-weight: bold;
}

#homepage-2019 .home-about{
    background-color: #F4E095;
}
#homepage-2019 .home-about h1{
    color: #F33F3F;
}
#homepage-2019 .home-about p{
    color: #333333;
}
#homepage-2019 .home-about p a{
    color: #F33F3F;
}
#homepage-2019 .homepage-foot{
    background-color: #333333;
}
.homepage-foot h5{
    color: #ffffff;
}
.homepage-foot h6{
    color: #ffffff;
}
.foot-icons a span{
    color: #2CC9F7;
}
.foot-icons a:last-child span{
    background: #2CC9F7;
    color: #333333;
    border-radius: 2px;
}
.homepage-foot h6 a{
    color: #2CC9F7;
}
.home-archive{
    min-height: 100vh;
    min-width: 100vw;
    background-color: #ffffff;
    padding: 10em 0 8em 0;
}
.home-archive h1{
    font-family: "fatfrank", Roboto, Helvetica, Arial, sans-serif;
    color: #000000;
    text-transform: uppercase;
}
.home-archive .row{
    margin-bottom: 2em;
}
.home-archive .columns{
    position: relative;
}
.home-archive .future-issue{
    width: 100%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.75));
}
.home-archive h3{
    text-align: center;
    font-family: "fatfrank", Roboto, Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.home-archive h5{
    text-align: center;
    font-family: "t26-carbon", monospace;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 0;
}
.future-issue{
    display: none;
}
.home-archive #future-hero-003:hover #future-issue-003,
.home-archive #future-hero-002:hover #future-issue-002,
.home-archive #future-hero-001:hover #future-issue-001{
    display: block;
}
.future-issue div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.back-in-time{
    text-align: center;
    font-family: "t26-carbon", monospace;
    color: #000000;
    width: 100%;
}
.back-in-time a{
    opacity: .4;
}
.back-in-time a:hover{
    opacity: 1;
}
#lost-issue h1{
    font-family: "fatfrank", Roboto, Helvetica, Arial, sans-serif;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}
#lost-issue h4{
    text-align: center;
    font-family: "t26-carbon", monospace;
    color: #000000;
    font-size: 1.5em;
    margin-bottom: 0;
}
#lost-issue .back-in-time{
    font-family: "t26-carbon", monospace;
    color: #000000;
    text-align: center;
    margin-top: 2em;
}






/* ________ ISSUE 001 UI ________ */
.index-link{
    position: fixed;
    top: 20px;
    left: 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    z-index: 99;
}
.top-link{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    z-index: 99;
}
.top-link span, .index-link span{
    color: #000000;
    font-size: 36px;
    opacity: .5;
}
.top-link span:hover, .index-link span:hover{
    opacity: 1;
}
#side-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 68px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 98;
}
.nav-btn{
    display: flex;
    background-color: #000000;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    margin: 9px 0;
    opacity: .5;
    transition: all .2s ease-in-out;
}
.nav-btn:hover{
    opacity: 1;
    transform: scale(1.6);
}
.nav-card{
    min-width: 300px;
    height: 100px;
    background-color: #ffffff;
    left: 70px;
    z-index: 1;
    display: none;
    position: absolute;
    align-items: center;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.38);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.38);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.38);
}
.nav-card .icon{
    color: #000000;
    font-size: 1.6em;
    margin-right: 8px;
    line-height: 1;
    vertical-align: middle;
}
.nav-card-img{
    height: 100px;
    width: 100px;
}
#nav-card-1 .nav-card-img{
    background: url(images/nav/nyc93-nav.jpg);
    background-size: cover;
}
#nav-card-2 .nav-card-img{
    background: url(images/nav/dec-nav.jpg);
    background-size: cover;
}
#nav-card-3 .nav-card-img{
    background: url(images/nav/time-nav.jpg);
    background-size: cover;
}
#nav-card-4 .nav-card-img{
    background: url(images/nav/bigben-nav.jpg);
    background-size: cover;
}
#nav-card-5 .nav-card-img{
    background: url(images/nav/danielle-nav.jpg);
    background-size: cover;
}
#nav-card-6 .nav-card-img{
    background: url(images/nav/god-nav.png);
    background-size: cover;
}
#nav-card-7 .nav-card-img{
    background: url(images/nav/landscapes-nav.jpg);
    background-size: cover;
}
#nav-card-8 .nav-card-img{
    background: url(images/nav/alww-nav.jpg);
    background-size: cover;
}
#nav-card-9 .nav-card-img{
    background: url(images/nav/worldends-nav.jpg);
    background-size: cover;
}
#nav-card-10 .nav-card-img{
    background: url(images/nav/wrapped-nav.jpg);
    background-size: cover;
}
.nav-card-info{
    margin: 10px 20px 10px 15px;
}
.nav-card-info h5, .nav-card-info h4{
    font-family: "t26-carbon", monospace;
    font-size: .9em;
    line-height: 1;
    margin-bottom: 5px;
}
.nav-card-info h4{
    font-weight: bold;
}
.nav-card-info div{
    margin-top: 15px;
}
.nav-card-info div span, .nav-card-info div h6{
    display: inline;
    vertical-align: middle;
}
.nav-card-info div span{
    opacity: .5;
}
.nav-card-info div h6{
    font-family: "t26-carbon", monospace;
    opacity: .5;
    line-height: 1;
    font-size: .8em;
}

/* ________ ISSUE 001 SPLASH SCREEN ________ */
.top-splash{
    min-height: 100vh;
    width: 100vw;
    background-color: #CBFF00;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.top-splash img{
    z-index: 2;
}
.beach-ball{
    background-image: url(images/001_beachball.png);
    background-size: 200px;
    height: 200px;
    width: 200px;
    margin: 0;
    padding: 0;
    border-radius: 100%;
    -webkit-box-shadow: 5px 5px 38px -5px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 38px -5px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 38px -5px rgba(0,0,0,0.4);
    position: absolute;
    -webkit-animation: rotation 1s infinite linear;
    z-index: 1;
}
@-webkit-keyframes rotation {
	from {
	       -webkit-transform: rotate(0deg);}
    to {
	       -webkit-transform: rotate(359deg);}
   }
.beach-ball.a{
    background-size: 30px;
    height: 30px;
    width: 30px;
    left: 10px;
    top: -15px;
}
.beach-ball.b{
    background-size: 30px;
    height: 30px;
    width: 30px;
    left: 80px;
    top: 20px;
}
.beach-ball.c{
    background-size: 35px;
    height: 35px;
    width: 35px;
    left: 280px;
    top: 35px;
}
.beach-ball.d{
    background-size: 30px;
    height: 30px;
    width: 30px;
    left: 25px;
    top: 110px;
}
.beach-ball.e{
    background-size: 50px;
    height: 50px;
    width: 50px;
    left: 95px;
    top: 160px;
}
.beach-ball.f{
    background-size: 30px;
    height: 30px;
    width: 30px;
    left: -15px;
    top: 220px;
}
.beach-ball.g{
    background-size: 40px;
    height: 40px;
    width: 40px;
    left: 60px;
    top: 290px;
}
.beach-ball.h{
    background-size: 70px;
    height: 70px;
    width: 70px;
    left: 180px;
    top: 85px;
}
.beach-ball.i{
    background-size: 50px;
    height: 50px;
    width: 50px;
    left: 240px;
    top: 210px;
}
.beach-ball.j{
    background-size: 60px;
    height: 60px;
    width: 60px;
    left: 285px;
    top: 340px;
}
.beach-ball.k{
    background-size: 50px;
    height: 50px;
    width: 50px;
    left: 185px;
    top: 390px;
}
.beach-ball.l{
    background-size: 75px;
    height: 75px;
    width: 75px;
    left: 390px;
    top: 440px;
}
.beach-ball.m{
    background-size: 75px;
    height: 75px;
    width: 75px;
    left: 390px;
    top: 170px;
}
.beach-ball.n{
    background-size: 60px;
    height: 60px;
    width: 60px;
    right: 320px;
    bottom: 290px;
}
.beach-ball.o{
    background-size: 40px;
    height: 40px;
    width: 40px;
    right: 380px;
    bottom: 410px;
}
.beach-ball.p{
    background-size: 30px;
    height: 30px;
    width: 30px;
    right: 160px;
    bottom: 370px;
}
.beach-ball.q{
    background-size: 65px;
    height: 65px;
    width: 65px;
    right: 210px;
    bottom: 220px;
}
.beach-ball.r{
    background-size: 100px;
    height: 100px;
    width: 100px;
    right: -50px;
    bottom: 230px;
}
.beach-ball.s{
    background-size: 35px;
    height: 35px;
    width: 35px;
    right: 500px;
    bottom: 140px;
}
.beach-ball.t{
    background-size: 50px;
    height: 50px;
    width: 50px;
    right: 620px;
    bottom: 170px;
}
.beach-ball.u{
    background-size: 70px;
    height: 70px;
    width: 70px;
    right: 570px;
    bottom: 50px;
}
.beach-ball.v{
    background-size: 40px;
    height: 40px;
    width: 40px;
    right: 460px;
    bottom: 500px;
}
.beach-ball.w{
    background-size: 90px;
    height: 90px;
    width: 90px;
    right: 300px;
    bottom: 100px;
}
.beach-ball.x{
    background-size: 30px;
    height: 30px;
    width: 30px;
    right: 230px;
    bottom: 490px;
}
.beach-ball.y{
    background-size: 80px;
    height: 80px;
    width: 80px;
    right: 80px;
    bottom: 80px;
}
.beach-ball.z{
    background-size: 30px;
    height: 30px;
    width: 30px;
    right: 590px;
    bottom: 500px;
}
.beach-ball.aa{
    background-size: 35px;
    height: 35px;
    width: 35px;
    left: 390px;
    top: 70px;
}
.beach-ball.bb{
    background-size: 160px;
    height: 160px;
    width: 160px;
    right: 60px;
    top: -80px;
}

/* ________ ISSUE 001 INTRO LETTER ________ */
.letter{
    width: 100vw;
    min-height: 100vh;
    background-color: #3B34ED;
    padding-bottom: 6em;
}
.letter p{
    margin-top: 1.5em;
    font-family: "t26-carbon", monospace;
}
.letter h5{
    padding-top: 3em;
    font-family: "fatfrank", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 2.2em;
    letter-spacing: 1px;
}

/* ________ ISSUE 001 TABLE OF CONTENTS ________ */
.toc{
    background-color: #ffffff;
    padding: 10em 0;
}
.toc h2{
    padding-top: 10px;
    border-top: 5px solid #000000;
    margin-bottom: 1em;
    font-family: "fatfrank", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 4em;
}
.toc a:visited{
    color: #ffffff;
}
.toc-tile{
    width: 100%;
    padding-bottom: 41.6666%;
    position: relative;
}
.toc-tile-info, .toc-tile-media{
    opacity: 0;
    transition: opacity .2s;
}
.toc-tile-info{
    width: 85%;
}
.six .toc-tile-info{
    position: absolute;
    left: 1.4em;
    bottom: 1.2em;
}
.twelve .toc-tile-info{
    position: absolute;
    left: 2.5em;
    bottom: 2em;
}
.toc-tile-info h4{
    font-family: "fatfrank", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 0;
    text-transform: uppercase;
}
.six .toc-tile-info h4{
    font-size: 1.4em;
}
.twelve .toc-tile-info h4{
    font-size: 1.7em;
}
.toc-tile-info h5{
    font-family: "t26-carbon", monospace;
    color: #ffffff;
    margin-bottom: 0;
}
.six .toc-tile-info h5{
    font-size: 1.3em;
}
.twelve .toc-tile-info h5{
    font-size: 1.6em;
}
.six .toc-tile-media{
    position: absolute;
    right: 1.4em;
    top: 1.2em;
}
.twelve .toc-tile-media{
    position: absolute;
    right: 2.5em;
    top: 2em;
}
.toc-tile-media span, .toc-tile-media h6{
    display: inline;
    vertical-align: middle;
}
.toc-tile-media .icon{
    color: #ffffff;
    font-size: 1.7em;
}
.toc-tile-media h6{
    font-family: "t26-carbon", monospace;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    margin-right: 5px;
}
#toc-1{
    background: url(images/table-of-contents/nyc-toc.png);
    background-size: cover;
}
#toc-1:hover{
    background: linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
    ), url(images/table-of-contents/nyc-toc.png);
    background-size: cover;
}
#toc-1:hover div{
    opacity: 1;
}
#toc-2{
    background: url(images/table-of-contents/dec-toc.jpg);
    background-size: cover;
}
#toc-2:hover{
    background: linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
    ), url(images/table-of-contents/dec-toc.jpg);
    background-size: cover;
}
#toc-2:hover div{
    opacity: 1;
}
#toc-3{
    background: url(images/table-of-contents/time-toc.gif);
    background-size: cover;
}
#toc-3:hover{
    background: linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
    ), url(images/table-of-contents/time-toc.gif);
    background-size: cover;
}
#toc-3:hover div{
    opacity: 1;
}
#toc-4{
    background: url(images/table-of-contents/truth-toc.png);
    background-size: cover;
}
#toc-4:hover{
    background: linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
    ), url(images/table-of-contents/truth-toc.png);
    background-size: cover;
}
#toc-4:hover div{
    opacity: 1;
}
#toc-5{
    background: url(images/table-of-contents/danielle-toc.gif);
    background-size: cover;
}
#toc-5:hover{
    background: linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
    ), url(images/table-of-contents/danielle-toc.gif);
    background-size: cover;
}
#toc-5:hover div{
    opacity: 1;
}
#toc-6{
    background: url(images/table-of-contents/god-toc.png);
    background-size: cover;
}
#toc-6:hover{
    background: linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
    ), url(images/table-of-contents/god-toc.png);
    background-size: cover;
}
#toc-6:hover div{
    opacity: 1;
}
#toc-7{
    background: url(images/table-of-contents/landscapes-toc.jpg);
    background-size: cover;
}
#toc-7:hover{
    background: linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
    ), url(images/table-of-contents/landscapes-toc.jpg);
    background-size: cover;
}
#toc-7:hover div{
    opacity: 1;
}
#toc-8{
    background: url(images/table-of-contents/alww-toc.jpg);
    background-size: cover;
}
#toc-8:hover{
    background: linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
    ), url(images/table-of-contents/alww-toc.jpg);
    background-size: cover;
}
#toc-8:hover div{
    opacity: 1;
}
#toc-9{
    background: url(images/table-of-contents/worldends-toc.jpg);
    background-size: cover;
}
#toc-9:hover{
    background: linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
    ), url(images/table-of-contents/worldends-toc.jpg);
    background-size: cover;
}
#toc-9:hover div{
    opacity: 1;
}
#toc-10{
    background: url(images/table-of-contents/wrapped-toc.jpg);
    background-size: cover;
}
#toc-10:hover{
    background: linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
    ), url(images/table-of-contents/wrapped-toc.jpg);
    background-size: cover;
}
#toc-10:hover div{
    opacity: 1;
}



/* ________ NYC '94 ________ */
#nyc{
    background: #2a2a28;
    padding-bottom: 6em;
}
.nyc-top{
    width: 100vw;
    height: 900px;
    background: url(images/001a_nyc/001a_nyc-pattern.png);
    background-size: 30%;
    background-repeat: repeat;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
}
.nyc-top img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 230px;
    margin-top: -115px;
    margin-left: -250px;
}
.nyc-bottom .columns{
    position: relative;
}
.nyc-cam{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: -9em;
    overflow: visible;
}
.nyc-cam img{
    /*opacity: .5;*/
}
.nyc-bottom{
    width: 100vw;
    min-height: 100vh;
    background: #2a2a28;
    position: relative;
}
.video-wrapper{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.video-wrapper iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.nyc-text{
    padding: 1.5em 1em 2em 0;
}
.nyc-text p{
    font-family: "lores-22-serif",sans-serif;
    font-size: 1.4em;
    color: #fff928;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#nyc .credits{
    border-top: 2px solid #ffffff;
    font-family: "lores-22-serif",sans-serif;
    color: #ffffff;
    font-size: 1.35em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#nyc .credits a, #nyc .credits a:visited{
    color: #ffffff;
}


/* ________ A DECLARATION OF THE INDEPENDENCE OF CYBERSPACE ________ */
#dec{
    background-color: #ffffff;
    padding-bottom: 6em;
}
.dec-top{
    background: url(images/001b_dec/001b_dec-title.svg), url(images/001b_dec/001b_dec-hero-front.png), url(images/001b_dec/001b_dec-hero-back.png);
    background-position: center 20%, bottom, bottom;
    background-size: 50%, 100%, 100%;
    background-repeat: no-repeat;
    height: 300vh;
}
.dec-body{
    padding-top: 8em;
}
.dec-body p{
    font-family: "source-code-pro",monospace;
    line-height: 1.8;
    margin-bottom: 3em;
}
.dec-body span{
    background-color: #51FEDD;
}
.dec-body p a{
    border-bottom: 4px dotted #3229FF;
    color: #000000;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}
.dec-body a:visited{
    color: #000000;
}
.dec-body p a:hover{
    background-color: #3229FF;
    color: #ffffff;
}
.dec-body .seven{
    margin-left: 0;
}
.dec-quote-sec{
    margin: 3em 0;
}
.dec-quote-wrapper{
    min-width: 100%;
    position: relative;
    padding-bottom: 4em;
}
.dec-quote-wrapper img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
#dec-quote{
    position: absolute;
    left: 25px;
    top: 25px;
    background: #ffffff;
    border: 2px solid #000000;
    padding: 2em;
    width: 70%;
    z-index: 2;
}
#dec-quote h5{
    font-family: "bebas-neue",sans-serif;
    font-size: 1.4em;
    margin-bottom: 1.5em;
}
#dec-quote h6{
    font-family: "source-code-pro",monospace;
    text-transform: uppercase;
    text-align: right;
    font-size: .9em;
    line-height: 1.2;
    margin: 0;
}
#dec-checkerboard{
    position: absolute;
    width: 80%;
    right: 5%;
    top: 0;
    margin-top: 50px;
    background: url(images/001b_dec/001b_dec-pattern.svg) repeat;
}
.dec-text-bottom{
    margin-top: 8em;
}
#dec .dec-body .credits p, #dec .dec-body .credits a{
    font-family: "bebas-neue",sans-serif;
    color: #000000;
    font-size: 1.2em;
}
#dec .credits a, #dec .credits a:visited{
    color: #000000;
}

/* ________ KEEPING TIME TO THE SAME BEAT ________ */
#swatch{
    background: #336633 url('images/001c_swatch/001c_time-pattern.png') repeat;
    background-size: 75px 75px;
    width: 100vw;
    padding: 6em 0;
}
#swatch .container{
    background: #ffffff;
    border: 2px solid #000000;
    padding: 2em;
}
.sunspot-top-nav{
    background: #ffffff;
}
.sunspot-top-nav ul{
    border: 1px solid #000000;
    padding-left: 10px;
    margin: 0;
    background-color: #336633;
    width: fit-content;
}
.sunspot-top-nav li{
    display: inline;
    margin-right: 10px;
}
.sunspot-top-nav li a{
    font-weight: bold;
    color: white;
    font-size: .7em;
}
.sunspot-banner{
    padding: 1.5em 1.5em 1.25em 1.5em;
    border: 2px solid #000000;
    -webkit-box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.75);
}
.sunspot-banner .columns{
    vertical-align: middle;
}
.weather{
    width: 120px;
    text-align: center;
    float: right;
}
.sunspot-banner img, .sunspot-banner a{
    display: block;
    text-align: center;
}
.sunspot-banner a{
    margin-top: 5px;
    color: #292999;
    font-family: "Times New Roman", Times, Georgia, serif;
    text-decoration: underline;
}
.sunspot-tagline{
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #000000;
    margin-bottom: 2em;
}
.sunspot-search{
    font-size: .8em;
    line-height: 1.3;
    padding-right: 10%;
}
.sunspot-search input{
    border: 1px solid #000000;
    height: 20px;
    margin-top: 8px;
    padding: 3px;
}
.sunspot-sidenav{
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    font-size: .85em;
}
.sunspot-sidenav ul{
    list-style: none;
    padding-left: 0;
}
.sunspot-sidenav ul{
    margin-bottom: 10px;
}
.sunspot-sidenav a{
    color: #292999;
    text-decoration: underline;
    font-size: .9em;
}
.swatch-body h1{
    font-weight: bold;
    font-size: 2.5em;
    color: #292999;
    font-family: Arial, sans-serif;
}
.sunspot-callout{
    padding: 20px;
    border: 1px solid #000000;
    background-color: #292999;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
}
.swatch-body article{
    padding: 40px 20px 60px 0;
    border-top: 1px solid #000000;
}
.swatch-portrait{
    padding: 5px;
    background: #ECE7E7;
    border: 1px solid #000000;
    float: right;
    margin: 0 0 20px 20px;
}
.swatch-globe{
    width: 100%;
    background: #000000 url('images/001c_swatch/001c_time-globe.gif') center center / 150px 150px no-repeat;
    height: 170px;
    margin: 40px 0;
}
.swatches img{
    border: 1px solid #000000;
    -webkit-box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.5);
    box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.5);
    display: block;
    text-align: left;
    margin-bottom: 30px;
}
.swatches{
    float: left;
    margin: 40px 30px 0 0;
}
.swatches + p{
    margin-top: 40px;
}
.swatch-book{
    float: right;
    margin: 15px 0 15px 15px;
}
.swatch-credits{
    width: 100vw;
    background: #336633;
    height:auto;
}
.swatch-credits .credits{
    margin: 3em 0 4em 0;
}
.swatch-body article a{
    color: #292999;
    text-decoration: underline;
}
.swatch-credits .source-credit{
    color: #000000;
}


/* ________ BIG BEN / THE FUNDAMENTAL TRUTH ________ */
#big-ben{
    background-image: linear-gradient(-90deg, #52EAE4 0%, #797DE7 100%);
    height: 1300px;
    width: 100vw;
}
#big-ben .columns{
    position: relative;
}
.circle {
    position: relative;
    display: block;
    margin: 150px 0;
    background-color: transparent;
    text-align: center;
}
.circle:after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #52EAE4 0%, #797DE7 100%);
    content: "";
}
.inner-circle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.circle-content-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}
.circle-content {
    display: table-cell;
    padding: 1.5em;
    vertical-align: middle;
}
#big-ben h4{
    font-family: "ltc-bodoni-175",serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 2.2em;
    line-height: 1.25;
}
#big-ben h6{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.big-ben-tweets{
    position: absolute;
    width: 100%;
    top: 750px;
    left: 0;
}

/* ________ DANIELLE ________ */

#danielle{
    background: #ffffff;
    min-height: 100vh;
    padding-bottom: 4em;
}
.danielle-title-wrap{
    width: 100%;
    margin: 180px 0 60px 0;
}
.danielle-title-wrap svg{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -138px;
    mix-blend-mode: multiply;
}
.danielle-title-wrap svg:first-of-type{
    left: 10%;
}
.danielle-title-wrap svg:nth-of-type(2){
    left: 90%;
}
.danielle-video{
    margin-bottom: 1.5em;
}
#danielle .credits{
    border-top: 2px solid #DF8683;
    font-family: "t26-carbon", monospace;
    color: #DF8683;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 2em;
    margin-bottom: 3em;
}
#danielle .credits a, #danielle .credits a:visited{
    color: #DF8683;
}

/* ________ GOD IN THE MACHINE ________ */

#god{
    background-image: linear-gradient(-180deg, #FF5F00 0%, #AC2121 100%);
    width: 100vw;
}
.god-hero{
    min-height: 2200px;
    width: 100vw;
    background: url('images/001f_god/001f_god-hero-human.svg') center 70% no-repeat,
        url('images/001f_god/001f_god-hills1.svg') bottom center no-repeat,
        url('images/001f_god/001f_god-hills2.svg') bottom center no-repeat,
        url('images/001f_god/001f_god-hills3.svg') bottom center no-repeat,
        url('images/001f_god/001f_god-sun.svg') bottom center no-repeat;
    background-size: 140px, 100%, 100%, 100%, 100%;
    position: relative;
}
.god-title{
    position: absolute;
    width: 100%;
    top: 300px;
    left: 0;
}
.god-hero h1{
    font-family: 'marvin_visions', sans-serif;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.god-hero h4{
    font-family: 'century_gothic_regular', sans-serif;
    text-align: center;
    font-size: 2em;
    color: #F6E600;
}
.god-author{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: 60px;
}
.god-author h3{
    font-family: 'marvin_visions', sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 1px;
}
.god-body{
    width: 100vw;
    min-height: 100vh;
    background-color: #FFF7ED;
    padding: 6em 0;
}
.god-body:first-of-type{
    padding-top: 10em;
}
.god-body p{
    font-size: 1.2em;
    line-height: 1.8;
    margin-bottom: 2.5em;
    font-family: 'adobe-garamond-pro', serif;
}
.god-body p span.drop-cap{
    font-family: 'adobe-garamond-pro', serif;
    color: #FF6027;
    float: left;
    font-size: 105px;
    line-height: 68px;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 3px;
}
.god-body p a{
    font-family: 'adobe-garamond-pro', serif;
    font-weight: bold;
    color: #FF6027;
}
.god-body p:last-child{
    margin-bottom: 4em;
}
.god-body h2{
    font-family: 'century_gothic_bold_italic', sans-serif;
    font-weight: bold;
    color: #847FC4;
    text-align: left;
    text-transform: none;
    font-size: 2em;
    hanging-punctuation: first;
    padding-bottom: 0;
    margin-bottom: 0;
}
.pull-quote{
    height: fit-content;
    margin-bottom: 2.75em;
    margin-top: -1.75em;
    opacity: 0;
}
.god-feature-ilo{
    background-color: #201C30;
}
.god-feature-ilo img{
    max-width: 92%;
    vertical-align: bottom;
    text-align: center;
    margin-top: 8em;
    margin-left: 4%;
}
.god-body .god-space-bt{
    margin-bottom: 5.5em;
}
#god .credits p{
    color: #000000;
    font-family: 'adobe-garamond-pro', serif;
}
#god .credits a.source-credit, #god .credits a.source-credit:visited{
    color: #000000;
    font-family: 'adobe-garamond-pro', serif;
    font-weight: bold;
}

/* ________ VIRTUAL LANDSCAPES ________ */
.full-landscape, .landscapes-hero{
    min-width: 100vw;
}
.landscapes-hero{
    background-color: #ffffff;
    background-image: url(images/001g_landscapes/001g_landcsapes1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.landscapes-title{
    background-color: #ffffff;
    margin-top: 6em;
    padding: 4em 6em 4em 4em;
    -webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.45);
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.45);
    overflow: hidden;
    transition: transform 300ms ease-in;
    transform-origin: center left;
    transform:scaleX(1);
}
.landscapes-title h1{
    font-family: "ambroise-std", serif;
    color: #000000;
    margin-bottom: 10px;
    font-size: 4em;
    margin-left: -3px;
    margin-bottom: 0;
}
.landscapes-title h5{
    font-family: "ambroise-std", serif;
    color: #000000;
    font-size: 1.4em;
    line-height: 1.8;
}
.landscapes-title p{
    font-family: "pragmatica", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: .85em;
    padding-left: 15px;
    border-left: 2px solid #C781FA;
    margin-top: 3em;
    margin-bottom: 0;
    padding-right: 3em;
    line-height: 1.6em;
}
#landscapes .credits{
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: "pragmatica", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: .85em;
}
#landscapes .credits a.source-credit, #landscapes .credits p a{
    font-weight: bold;
}

/* ________ A LIFE WELL WASTED ________ */
#alww{
    background-color: #3D9083;
}
.alww-hero{
    min-width: 100vw;
    background-image: url('images/001h_alww/001h_alww-stanford.jpg');
    background-color: #3D9083;
    background-blend-mode: multiply;
}
.alww-hero{
    padding: 8em 0;
}
.alww-hero h1, .alww-hero h4{
    font-family: "aktiv-grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.alww-hero h1{
    font-size: 7.5em;
    margin-bottom: .75em;
}
.alww-hero h4{
    font-size: 1.5em;
    padding-right: 4em;
}
.alww-hero hr{
    margin-left: 0;
    width: 2.25em;
    border: 4px solid #FBF59F;
}
.alww-hero a{
    font-weight: bold;
    color: #FBF59F;
}
.alww-media{
    min-width: 100vw;
    padding: 1.5em 0 1em 0;
    background-color: #333333;
}
.alww-content{
    min-width: 100vw;
    min-height: 200vh;
    background-color: #3D9083;
    padding-top: 8em;
}
.alww-content h6{
    font-family: "aktiv-grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #FBF59F;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
}
.alww-content p{
    font-family: "aktiv-grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6em;
}
.alww-content .row{
    margin-bottom: 4em;
}
.alww-content p a{
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #FBF59F;
}
.alww-content img{
    mix-blend-mode: multiply;
}
.alww-pixels{
    margin-top: 6em;
}
.alww-titanic{
    min-width: 100vw;
    padding: 8em 0 2em 0;
    background-color: #000000;
    margin-top: -10px;
}
.alww-titanic .credits{
    margin-top: 10em;
    border-top: 2px solid #FBF59F;;
}
.alww-titanic .credits p, .alww-titanic .credits a{
    color: #FBF59F;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* ________ ... WHEN THE WORLD ENDS ________ */
.end-hero{
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('images/001i_end/001i_end-nuke.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.end-hero h1{
    text-align: center;
    font-family: "azo-sans-uber",sans-serif;
    color: #F1FF00;
    font-size: 3.5em;
    margin-top: 20%;
}
.end-hero h3{
    margin-top: 1em;
    text-align: center;
    font-family: "azo-sans-uber",sans-serif;
    color: #ffffff;
    font-size: 1.75em;
}
#end-gallery{
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
    background: url('images/001i_end/001i_end-joggers.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#end-gallery .end-text-box{
    background-color: #000000;
    min-height: 75vh;
    max-height: 85vh;
    width: 75%;
    max-width: 85%;
    padding: 5em 5em 1em 5em;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.end-text{
    font-family: "museo-slab",serif;
    font-weight: 700;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 20%;
    padding-bottom: 3em;
    overflow: scroll;
}
.end-text-box .end-buttons{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.end-text-box .end-buttons a{
    font-family: "museo-slab",serif;
    font-size: 1.5em;
    color: #000000;
    background-color: #828200;
    padding: 5px 20px;
    line-height: 1;
    margin: 0 5px;
    font-weight: 900;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    transition: 0.3s ease;
}
.end-text-box .end-buttons a:hover{
    background-color: #ffff00;
}
.end-text{
    display: none;
}
